{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
{% block body %}
<div>
    <h1>"TIS THE SEASON!!"</h1>
    <p>This year, the holidays may seem heavy but as a gift to you I have scraped some
        inspirational tweets to lift you mood and spirit. 
    </p>
</div>
<div>
    <p>
        <h2>Table of Tweets & Likes</h2>
        The data I'm scraping comes for the nitter (knock-off twitter) page of
        Dr Thema who is a Minister, psychologist, professor, artist, and author. This data
        shows her tweets accompanied by how many likes they got.
    </p>
</div>

<div>
    <img src="/static/image_drThema.jpg" alt="Dr. Thema Image" width="350" height="250">
    <p>
        <h3>This data can be accessed by <a href="https://tkh-project-phase1.herokuapp.com/other">CLICKING HERE!</a> </h3> 
        <h4> For API (Json view) <a href="https://tkh-project-phase1.herokuapp.com/api">click here</a></h4>
        <h3>Happy Holidays to you!</h3>
    </p>
</div>

{% endblock %}
</body>
</html>

